@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.impact_main {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}
.below_text {
  text-align: center;
  font-size: 20px;
}
.pinky2 {
  color: #eb64a9;
}
.email_link {
  color: black;
}
.impact_image1 {
  margin-left: 20%;
  width: 240px;
  height: 200px;
}

.impact_image2 {
  margin-left: 17%;
  width: 292px;
  height: 200px;
}

.impact_image3 {
  margin-left: 20%;
  width: 272px;
  height: 200px;
}

.impact_headings {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.impact_headings:hover {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

.impact_content {
  text-align: center;
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

@media (min-width: 1000px) {
  .impact_main {
    font-size: 60px;
  }
  .below_text {
    font-size: 30px;
  }
  .impact_image1 {
    margin-left: 18%;
    width: 372px;
    height: 310px;
  }
  .impact1 {
    margin-left: -10%;
  }
  .impact_image2 {
    margin-left: 12%;
    width: 438px;
    height: 300px;
  }
  .impact_image3 {
    margin-left: 15%;
    width: 408px;
    height: 300px;
  }
  .impact3 {
    margin-right: -13.5%;
  }
}
