@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.Med,
.Wel {
  margin-top: -1%;
  font-family: "Poppins", sans-serif;
  margin-left: 3%;
}
.Med,
.sidename {
  margin-top: 1%;
}
.Med,
.pinky {
  color: #eb64a9;
}
.Wel {
  margin-top: -3%;
}
.sidename,
.maincontext {
  margin-left: 3%;
  margin-right: 1%;
}
.Flexing {
  font-size: xx-large;
}
.i2 {
  width: 213px;
  height: 250px;
  margin-left: 20%;
}
.Wel {
  font-size: 40px;
}

.maincontext {
  font-size: 15px;
}

.sidename {
  font-size: 20px;
}

.Med {
  font-size: 45px;
}

@media screen and (min-width: 1000px) {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
  .Wel,
  .Med {
    margin-top: -1%;
    font-family: "Poppins", sans-serif;
    margin-left: 8%;
  }
  .Med,
  .pinky {
    color: #eb64a9;
  }
  .Wel {
    margin-top: -3%;
  }
  .sidename,
  .maincontext {
    margin-left: 8%;
  }
  .Flexing {
    display: flex;
    font-size: xx-large;
  }
  .i2 {
    width: 445.95px;
    height: 500px;
    margin-right: 200px;
    margin-top: -15%;
    margin-left: 0%;
  }

  .Wel,
  .Med {
    font-size: 80px;
  }
  .maincontext {
    padding-right: 30%;
    font-size: 30px;
  }
  .sidename {
    font-size: 40px;
  }
}
