@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.para {
  /* font-family: "Poppins", sans-serif; */
  font-size: larger;
  text-align: center;
  line-height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  line-height: normal;
}

.about {
  background-color: #fce9fe;
  border-top: 2px solid #f39dc9;
  border-bottom: 2px solid #f39dc9;
  padding-right: 4%;
}

.about_main {
  font-size: 30px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.pinky1 {
  color: #eb64a9;
}

@media (min-width: 1000px) {
  .about_main {
    font-size: 50px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-top: 1.5%;
  }
  .para {
    /* font-family: "Poppins", sans-serif; */
    font-size: x-large;
    line-height: 150%;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
  }
  .pinky1 {
    color: #eb64a9;
  }

  .about {
    background-color: #fce9fe;
  }
}
